<!DOCTYPE html>
<html>
<head>
    <title>月照纱窗生成器</title>
</head>
<body>
    <form method="post" action="/submit">
        <label for="input">在此输入 / Input here</label><br>
        <input type="text" id="input" name="input"><br>
        <label for="选择字体 Choose font">选择字体 / Choose font</label><br>
        <select id="font" name="font">
            <option value="simhei"> 黑体 / simhei</option>  
            <option value="Deng">   等线 / Deng</option>
            <option value="simsun"> 宋体 / simsun</option>
            <option value="simkai"> 楷体 / simkai</option>
            </select><br>
        <button type="submit">提交 / Submit</button>
    </form>
</body>


